body {
	background: url('');
	-webkit-animantion: myAnimation 5s infinite;
	animantion: myAnimation 5s infinite;
}

@-webkit-keyframe 'myAnimation' {
	50% {
			background-color: red;
	}
}

@keyframes 'myAnimation' {
	50% {
			background-color: red;
	}
}


h1 {
	font-family: impact;
}


.divnum1 {
	background-color: green;
	border: 10px black; "add border to all sides"
	border-left: 5px blue; "Just add border to left side"
	border-radius: "How to adjust your border radius. make things a circle or rounded edges."
	width: "if you use pixels it will ignore padding and other styles, if you use percents it will take those into account";
	height: "";
}